.postContainer {
  position: relative;
  top: 120px !important;
}

.post {
  padding: 15px 18px;
  display: flex;
}

.featured {
  height: 150px;
  width: 150px;
}

.postDetails {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.postContainer h2 {
  font-family: sohne, "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding-top: 8px;
}

.post h2 {
  font-family: sohne, "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 19px;
  padding-top: 8px;
}

.postTitle {
  color: #292929 !important;
  text-decoration: none;
}

.excerpt {
  font-size: 15px;
  font-family: sohne, "Helvetica Neue", sans-serif;
  color: #757575;
  margin-top: -15px;
}

.date {
  font-family: sohne, "Helvetica Neue", sans-serif;
  color: #757575;
  font-size: 12px;
  text-align: right;
}
